@{
     Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}
<div class="card shadow mb-4">
 <div class="card-header py-3">
   <h6 class="m-0 font-weight-bold text-primary">Liste Bon de commande </h6>
 </div>
 <div class="card-body">
   <div class="table-responsive">
     <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
       <thead>
       <tr>
         <th>Titre</th>
         <th>Daty</th>
         <th>jour Livraison</th>
         <th>Type payement</th>
         <th>Condition de payement</th>
         <th>Action</th>
       </tr>
       </thead>
       <tfoot>
       <tr>
         <th>Titre</th>
         <th>Daty</th>
         <th>jour Livraison</th>
         <th>Type payement</th>
         <th>Condition de payement</th>
         <th>Action</th>
       </tr>
       </tfoot>
       <tbody>
       @foreach (BonDeCommande a in @ViewBag.all)
       {
         <tr>
           <td>@a.Titre</td>
           <td>@a.Daty</td>
           <td>@a.JourLivraison</td>
           <td>@a.typePayement.NomTypePayement</td>
           <td>@a.ConditionPayement</td>
          
           <td class="action-table">
             
             @if (@Context.Session.GetString("sess").Equals("5"))
             {
               <a href="https://localhost:7248/Home/decisionFinance?idBonDeCommande=@a.IdBonDeCommande&decision=5" class="btn btn-success btn-circle">
                 <i class="fas fa-check"></i>
               </a>
               <a href="https://localhost:7248/Home/decisionFinance?idBonDeCommande=@a.IdBonDeCommande&decision=50" class="btn btn-danger btn-circle">
                 <i class="fas fa-trash"></i>
               </a>
             }  @if (@Context.Session.GetString("sess").Equals("6"))
                {
                  <a href="https://localhost:7248/Home/decisionDg?idBonDeCommande=@a.IdBonDeCommande&decision=10" class="btn btn-success btn-circle">
                  <i class="fas fa-check"></i>
                  </a>
                  <a href="https://localhost:7248/Home/decisionDg?idBonDeCommande=@a.IdBonDeCommande&decision=100" class="btn btn-danger btn-circle">
                    <i class="fas fa-trash"></i>
                  </a>
                }
            
             <a href="" class="btn btn-info btn-circle">
               <i class="fas fa-info-circle"></i>
             </a>
           </td>
         </tr>
       }
       </tbody>
     </table>
   </div>
 </div>
 </div>
        