@page
@model GRH.Views.Home.BesoinAchat


   @{
        Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
    }

<!DOCTYPE html>

<html>
<head>
    <title>Besoin achat</title>
</head>
<body>
<div>
    <div class="container">
        <form id="crudForm" method="post" action="https://localhost:7248/Home/saveBesoin/">
            <div class="mb-3">
                <label for="article" class="form-label">Article</label>
                <select class="form-control" id="article" name="article" required>
                    @foreach (Article a in @ViewBag.allArticle)
                    {
                        <option value="@a.IdArticle">@a.NomArticle</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="quantite" class="form-label">Quantite</label>
                <input type="text" class="form-control" id="quantite" name="quantite"  required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <input class="form-control" type="submit" class="btn btn-primary" value="OK">
        </form>
    
        <hr>
         <div class="card-body">
             <div class="table-responsive">
                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                     <tr>
                         <th>Article</th>
                         <th>Description</th>
                         <th>Quantite</th>
                         <th>Unite</th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tfoot>
                     <tr>
                         <th>Article</th>
                         <th>Description</th>
                         <th>Quantite</th>
                         <th>Unite</th>
                         <th>Action</th>
                     </tr>
                     </tfoot>
                     <tbody>
                     @foreach (BesoinArticle a in @ViewBag.allBesoin)
                     {
                         <tr>
                             <td>@a.article.NomArticle</td>
                             <td>@a.Description</td>
                             <td>@a.Quantite</td>
                             <td>@a.article.unite.NomUnite</td>
                             <td class="action-table">
                                 <a href="https://localhost:7248/Home/validerBesoin?idBesoin=@a.IdBesoinArticle" class="btn btn-success btn-circle">
                                     <i class="fas fa-check"></i>
                                 </a>
                                 <a href="https://localhost:7248/Home/supprimerBesoin?idBesoin=@a.IdBesoinArticle"  class="btn btn-danger btn-circle">
                                     <i class="fas fa-trash"></i>
                                 </a>
                             </td>
                         </tr>
                     }
                     </tbody>
                 </table>
             </div>
             </div>
    </div>
</div>
</body>
</html>